<!-- CONTENIDO LANDING COMPRA ENTRADA -->
<img class="imgbg" [src]="imagenPg" alt="">
<!-- TABLA ENTRADAS -->
<div class="fondobg">
  <br>
  <table class="container table text-white">
    <thead>
      <tr>
        <th scope="col"><span class="t_verde">ZONAS</span></th>
        <th scope="col"><span class="t_verde"># Entradas</span></th>
        <th class="text-center" scope="col"><span class="t_verde">BLACK FRIDAY <br></span>
          <span class="minifechas"> Desde el 23/11/22 <br>
            hasta el 24/11/22</span>
        </th>
        <th class="text-center" scope="col"><span class="t_verde">EARLY BIRD <br></span>
          <span class="minifechas"> Desde el 01/10/22 <br>
            hasta el 30/11/22</span>
        </th>
        <th class="text-center" scope="col"><span class="t_verde">TIER 1 <br></span>
          <span class="minifechas"> Desde el 01/12/22 <br>
            hasta el 02/12/22</span>
        </th>
      </tr>
    </thead>
    <tbody class="tablita">
      <tr>
        <th scope="row"><span class="badge badge-lila">&nbsp;</span> GA 10</th>
        <th scope="row"><span class="badge badge-lila">&nbsp;</span> #1000</th>
        <td class="text-center">S/ 150.00</td>
        <td class="text-center">S/ 150.00</td>
        <td class="text-center">S/ 150.00</td>
      </tr>
      <tr>
        <th scope="row"><span class="badge badge-lila">&nbsp;</span> GA</th>
        <th scope="row"><span class="badge badge-lila">&nbsp;</span> #1000</th>
        <td class="text-center">S/ 193.60</td>
        <td class="text-center">S/ 193.60</td>
        <td class="text-center">S/ 193.60</td>
      </tr>
      <tr>
        <th scope="row"><span class="badge badge-lila">&nbsp;</span> GA 6</th>
        <th scope="row"><span class="badge badge-lila">&nbsp;</span> #1000</th>
        <td class="text-center">S/ 300.00</td>
        <td class="text-center">S/ 300.00</td>
        <td class="text-center">S/ 300.00</td>
      </tr>
      <tr>
        <th scope="row"><span class="badge badge-lila">&nbsp;</span> VIP</th>
        <th scope="row"><span class="badge badge-lila">&nbsp;</span> #1000</th>
        <td class="text-center">S/ 450.00</td>
        <td class="text-center">S/ 450.00</td>
        <td class="text-center">S/ 450.00</td>
      </tr>
      <tr>
        <th scope="row"><span class="badge badge-lila">&nbsp;</span> VIP 10</th>
        <th scope="row"><span class="badge badge-lila">&nbsp;</span> #1000</th>
        <td class="text-center">S/ 1500.00</td>
        <td class="text-center">S/ 1500.00</td>
        <td class="text-center">S/ 1500.00</td>
      </tr>
    </tbody>
  </table>

  <div class="d-grid gap-2">
    <button class="btn botonevento" type="button"><i class="fa-solid fa-ticket me-2"></i> COMPRAR</button>
  </div>
  <br>
  <div class="container">
    <img class="mx-auto d-block" src="img/logo-resistance.png" width="25%" alt="">
    <hr>
    <p class="mensajecompra">Cola Virtual: Antes del inicio de la venta podrás estar en una sala de espera que es un
      espacio que albergará a todos
      los fans de Resistance que entren al banner del evento, cuando la venta inicie a las 09:00 a.m. el sistema te
      redireccionará a la COLA VIRTUAL,
      se te asignará un lugar aleatorio y tiempo aproximado de espera, esto hará que desde las 09:00 a.m.
      todos tengan la misma oportunidad de compra independientemente de la hora que hayan ingresado al banner del
      evento o sala de espera. <br> <br>
      * Público recomendado: Adultos. <br>
      * Capacidad Early Bird: GA (1500) y VIP (1000). <br>
      * Podrán ingresar a partir de los 18 años. <br>
      * Día del evento: Sábado 10 de Diciembre 2022. <br>
      * Duración aproximada del evento: 12:00 hrs. <br>
      * Se sugiere llegar con anticipación al local. <br>
      * Al momento del ingreso el cliente deberá portar doble mascarilla y respetar las indicaciones brindadas por el
      local y/o las medidas vigentes al día del concierto.</p>
  </div>
</div>