<div class="list_container">
  <!--TITLE WITH EVENTS-->
  <div class="title_events">
    <h1>LISTADO DE EVENTOS</h1>
    <button mat-raised-button color="primary" routerLink="/crear-evento">
      Nuevo evento
    </button>
  </div>

  <!--LIST OF EVENTS-->
  <div class="list_events mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Evento Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> N° </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Evento Column -->
      <ng-container matColumnDef="evento">
        <th mat-header-cell *matHeaderCellDef> Evento </th>
        <td mat-cell *matCellDef="let element"> {{element.evento}} </td>
      </ng-container>

      <!-- Categoria Column -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
      </ng-container>

      <!-- Ubicacion Column -->
      <ng-container matColumnDef="ubicacion">
        <th mat-header-cell *matHeaderCellDef> Ubicacion </th>
        <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
      </ng-container>

      <!-- Precio Column -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> S/.{{element.precio}}.00 </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex_content">
            <button class="btn_delete" (click)="btnDelete(element.id)">
              <i class="ri-delete-bin-fill"></i>
            </button>
            <button class="btn_view" (click)="btnView(element.id)">
              <i class="ri-eye-fill"></i>
            </button>
            <button class="btn_edit" [routerLink]="['/editar-evento', element.id]">
              <i class=" ri-edit-box-fill"></i>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>

<div *ngIf="showDialog" class="dialog_container">
  <div class="one_dialog">
    <h1>{{dialogEvento.evento}}</h1>
    <h4>Lugar: {{dialogEvento.ubicacion | titlecase}}</h4>
    <div class="img_container">
      <img [src]="dialogEvento.imagen" alt="imgView" />
      <div class="price_container">Precio: S/.{{dialogEvento.precio}}.00</div>
    </div>
    <div class="category_container">Categoría: {{dialogEvento.categoria}}</div>
    <div class="description_container">
      <p><u>Descripción</u>: {{dialogEvento.descripcion}}</p>
    </div>
    <button class="btn_cierre" (click)="btnClose()">
      <i class="ri-close-fill"></i>
    </button>
  </div>
</div>